.Description {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    margin:  15px;
    min-width: 300px;
    min-height: 90px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Caption {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0 0 15px;
}

.Content {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    margin: 15px;
}

@media (min-width: 768px) {
    .Description {
        max-width: 900px;
    }
}