.Score {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.ScoreContent {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
}

.ScoreButtons {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
}

.RatingPositive {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #025200;
}

.RatingNegative {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #7B0000;
}

.NumberOfRatings {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: #45484d;
}


@media (min-width: 768px) {
    .Score {
        margin-bottom: 30px;
    }

    .RatingPositive,
    .RatingNegative {
        font-size: 42px;
    }
}