.Profile {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   /* padding-top: 60px; */
}

.PageContent {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   width: 100%;
   height: 100%;
}

.ProfilePicture {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.ProfilePicture img {
   width: 180px;
   height: 220px;
   border-radius: 25px;
   border: 2px solid #24282e;
}

.Buttons {
   margin-top: 30px;
   flex-direction: column;
}

.AboutMeSection {
   width: 100%;
   height: 100%;
   margin-top: 30px;
   width: 80%;
}

.AboutMeContent {
   width: 100%;
   padding: 30px;
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   font-size: 14px;
   background-color: white;
   border-radius: 15px;
   border: 1px solid #24282e;
}

.Favourites {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.FavouritesBooks {
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   width: 100%;
   justify-content: space-between;
}
.FavouritesBookCaption {
   font-family: "Playfair Display", serif;
   font-size: 28px;
   text-align: left;
   width: 80%;
   font-weight: 900;
}

.FavouriteBook {
   width: 100%;
   height: 100%;
   display: flex;
   margin: 0 30px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.Title {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 14px;
   margin-top: 15px;
}

.Author {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 12px;
}

.FavouriteBook img {
   width: 80px;
   height: 120px;
   border-radius: 15px;
}
