.ProfileMenu {
    background: #45484d;
    width: 100%;
    height: 25%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.ProfileNavigationItem {
    padding-right: 15px;
}

.ProfileExpandMenu {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.ProfilePictureExpanded {
    display: flex;
    justify-content: center;
    width: 30%;
}

.ProfilePictureHided {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*.NavigationItems:hover .ProfileExpandMenu {*/
/*  display: flex;*/
/*  width: 50%;*/
/*}*/

@media (min-width: 1200px) {
    .ProfilePictureExpanded {
        width: 30%;
    }

    .ProfileExpandMenu {
        display: flex;
        width: 50%;
    }
}
