.FullSizePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.FullSizePhoto img {
    height: 260px;
    width: 240px;
    border-radius: 25px;
}
