.Search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: 45px;
  /*background: #45484d;*/
  border-bottom: 1px solid #f4f4f4;
}

.Expanded {
  margin: 90px auto auto auto;
}

.Hidden {
  margin: 240px auto auto auto;
}

.SearchIconOnly {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.FullSearchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.SearchInput {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 11px;
  color: #f4f4f4;
}
