.Review {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #e0e0e1;
    margin: 15px;
    padding-top: 30px;
}

.ReviewInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e1;
}

.AuthorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.AuthorInfo:hover {
    background: linear-gradient(130deg, #e0e0e1 0%, #e0e0e1 100%);
    box-shadow: none;
    color: #24282e;
    margin-left: 15px;
    border-radius: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s all ease-in-out;
 }

.AuthorAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.AuthorAvatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.AuthorName {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    margin-left: 15px;
    margin-right: 60px;
}

.Score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.PositiveScore {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    margin: 0 15px;
    color: #025200;
}

.NegativeScore {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    margin: 0 15px;
    color: #7B0000;
}

.Content {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 15px;
    text-align: justify;
}