.Settings {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.Success {
   height: 100%;
   width: 100%;
   margin-top: 30px;
   /*margin-bottom: -60px;*/
   display: flex;
   justify-content: center;
   align-content: center;

   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #025200;
}


.UserData {
   display: flex;
   width: 90%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.UserData form {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.PageContent {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

@media (min-width: 992px) {
   .PageContent {
      width: 100%;
      padding-left: 60px;
      padding-right: 90px;
      flex-direction: row;
   }
}