.Settings {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.Menu {
   display: flex;
   width: 100%;
   padding: 15px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-bottom: 2px solid #e0e0e1;
}

.ActiveMenu {
   display: flex;
   height: 30px;
   width: 80%;
   align-items: center;
   justify-content: center;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 700;
   z-index: 3;
   border-right: 2px solid #e0e0e1;
}

.MenuDropdown {
   display: flex;
   height: 30px;
   width: 20%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.ExpandMenu {
   display: flex;
   width: 60%;
   margin-left: 30%;
   border-radius: 15px 0 15px 0;
   padding: 10px;
   border: 1px solid #e0e0e1;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
}

.ExpandMenuLink {
   margin: 5px 0;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 300;
}

.UserData {
   display: flex;
   width: 90%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.UserData form {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.ProfilePicture {
   display: flex;
   width: 100%;
   flex-direction: column;

   align-items: center;
   justify-content: center;

   margin-bottom: 30px;
}

.PageContent {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.ExpandedMenuSection {
   display: flex;
   width: 100%;
}

.FullMenu {
   display: none;
}

@media (min-width: 992px) {
   .PageContent {
      width: 100%;
      padding-left: 60px;
      padding-right: 90px;
      flex-direction: row;
   }

   .MenuDropdown,
   .ExpandedMenuSection {
      display: none;
   }

   .Menu {
      justify-content: flex-start;
      border: none;
   }

   .ActiveMenu {
      width: 20%;
      margin-right: 5%;
      border: none;
   }

   .FullMenu {
      display: flex;
      width: 75%;
      align-items: center;
      justify-content: center;
   }

   .ExpandMenuLink { 
      display: flex;
      height: 30px;
      width: 25%;
      align-items: center;
      font-size: 12px;
      justify-content: center;
   }
}