.Ranking {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.PageContent {
   width: 100%;
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (min-width: 768px) {
   .PageContent {
      margin-top: unset;
      padding-left: 60px;
      padding-right: 90px;
      margin-top: 90px;
   }
}
