.Categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.PageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .PageContent {
        width: 100%;
        padding-left: 60px;
        padding-right: 90px;
        flex-direction: row;
        margin-top: 90px;

    }
}
