.Input {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.Input input::placeholder,
.Input textarea::placeholder {
    color: #cccccc;
    font-style: italic;
}

.Input input:placeholder-shown,
.Input select,
.Input textarea:placeholder-shown {
    border: 1px solid #45484d;
    border-radius: 5px;
}

.Input textarea {
    min-height: 240px;
}

.Label {
    padding-left: 5px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.PhotoPreview {
    display: flex;
    height: 185px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 25px;

    /*justify-content: space-between;*/
}

.PhotoPreview img {
    border-radius: 25px;
    height: 185px;
    max-height: 185px;
    width: 185px;
    max-width: 185px;
    margin-right: 30px;
}

.ImageUploader,
.ImageUploader > div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ImageUploader img {
    margin-right: 0;
}
.AvatarInput p {
    margin-top: 30px;
}

.Element {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Element:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 2px solid #7b000075;
}

.Preview {
    display: flex;
    height: 240px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}


@media (min-width: 768px) {
    .Element {
        min-height: 45px;
    }

    .AvatarInput {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Preview {
        padding-left: 120px;
    }
}
/* 
@media (min-width: 1200px) {
    .Input {
        width: 60%;
    }
} */
